h1{
    text-align-last: center;
    text-decoration: underline;

}



#divwrap {
    font-family: Andale Mono, monospace;
    font-size: large;

    width: 70%;
    height: 200px;
    margin: auto;
    
}
#formcalc {
    
    
    margin-left: 37%;
    height: 75px;
    
    
}

#output {
   
    
    width: 9.2%;
    height: 100px;
    float: left;
    margin-left: 35%;
    
    
}




#myButton {
	background-color:transparent;
	border-radius:42px;
	border:1px solid #0040ff;
	display:inline-block;
	cursor:pointer;
	color:#00ccff;
	font-family: Andale Mono, monospace;
	font-size:28px;
	font-weight:bold;
	padding:10px 20px;
	text-decoration:none;
}
#myButton:hover {
    background-color:lightgrey;
    color: darkblue;
    border: 1px solid black;
}
#myButton:active {
	position:relative;
	top:1px;
}
